
<div style="height: 45px;" >

<div style="float: left">
<h5 style="margin:0px;padding-left: 10px;font-size: 15px;line-height:34px;border-left: 3px solid #00ba8b;">
{{currentMenu.MENU_NAME}}&nbsp;&nbsp;{{buttonName}}</h5>
</div>

<div style="float: right;">
<button ng-repeat='btn in buttonData  | filter :{ FK_MENU:currentMenu.MENU_PK } | orderBy: "BUTTON_CODE"' 
ng-click="clickButton(btn)" 
style="margin-right:8px;" type="button" class="btn btn-{{btn.BUTTON_STYLE }} {{btn.BUTTON_STATUS}}">
 <span class="glyphicon glyphicon-{{btn.BUTTON_IMG }}"></span> {{btn.BUTTON_NAME }} </button>
 
<!--button ng-repeat="m2 in menuData | filter :{ MENU_FATHER_PK: currentMenu.MENU_PK } | orderBy: 'MENU_CODE' " 
ng-click="clickMenu(m2)"
style="margin-right:8px;" type="button" class="btn btn-default">
<span class="glyphicon glyphicon-{{m2.MENU_IMG }}"></span> {{m2.MENU_NAME }}</button-->
</div>

</div>
